//main:style.scss

.title{
  margin-bottom: 0;
}

.description{ color: $grey400 }

article > p{
  text-align: justify;
  text-justify: inter-word;
}

quote{
  color:$grey600;
  padding: 20px 0;
}

figcaption{
  color: $grey400;
  margin: 8pt 0 0 0;
}

article p{
  margin-bottom: 30px;
}


.box{
  @include flex(center,center, column);
  height: 80px;
  border-radius: 8px;
}

#one{
  background-color:white;
}

#two{
  background-color: white;
}

.third{
  background-color: $blue100;
  grid-row: 2;
}


#rainbow{
  background: linear-gradient(to right, #1CD760, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.phone{
  display: block;
  position: absolute;
  background: url('../img/blank.png');
  height: 800px;
  width: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  top:30px;
  left: 150px;
  &-content{
    padding: 30px;
    position: absolute;
    border-radius:5pt 5pt 0 0;
    background-color: white;
    height: 275px;
    width: 300px;
    margin-top: 10px;
    top:90px;
    left:50px;
    z-index: 10;
    box-sizing: border-box;
    &::before{
      content: 'd';
      color:transparent;
      display: block;
      background-color: rgba(255,255,255,0.4);
      margin: 0 -20px;
      height: 15px;
      border-radius:5pt 5pt 0 0;
      margin-top: -45px;
      z-index: 1;
    }
  }
}




/// font



.sizing{
  margin-top:-40px;
  font-size: 80px;
  font-family: 'Nutanix_Soft', sans-serif!important;
  transition: font-size 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: font-size;
}

#nutanix-soft-sizing{
  margin: 0;
  padding: 0 20px;
  position: absolute;
  bottom: 20px;
}

#font-sizing{
    margin: 0 20px;

}

.highlight{
  background-color: $blue100;
}

hr{
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:$grey200;
  height: 1px;
}
