//main:style.scss


//layout

article, main{ margin: auto }

article{
  padding: $base * 1pt;
  max-width: 1280px;
  @include flex(flex-start, space-between, row);
  @include media($tablet){ flex-direction: column;}
}

aside, main{ @include flex(flex-start) }

main{
  max-width  : $base * 10ch;
  flex-shrink: none;
}

aside{
  position: sticky;
  top        : $base * 10pt;
  margin-left: $base * 8pt ;
  max-width  : $base * 5ch ;
}

//images

img, video, .block {
  overflow: hidden;
  border-radius: 8pt;
  margin: $base * 3.5pt 0;
  background-color: $grey200;
}

img{ margin-top: $base * 1pt }

.block{
  @include flex();
  width: 100%;
  position: relative;
  height  : $base * 35pt;
  padding : $base * 2pt;
}


// font styling titles

h1{
  margin-bottom:  0;
  font-size  : 36pt;
  font-weight: 500 ;
  letter-spacing: -1.2;
}

h2{
  font-size  : 16pt;
  font-weight: 400 ;
  margin-bottom: $base * 1pt;
}


// ordered lists

ol, ul{
  margin-top   : $base;
  margin-bottom: $base * 2pt;
  padding-left : $base * 5pt;
  border-left: 3px solid $grey200;
}

p, li {
  color      :$grey700;
  font-weight: 300;
  font-size  : 1em;
  line-height: 1.75;
  letter-spacing: -0.12;
}

li:not(:last-child){ margin-bottom: $base }


/// font in common elements

.description, figcaption{ color: $grey400 }

figcaption{ margin: -$base * 2pt 0 $base * 3pt 0 }

article p { margin-bottom: $base * 2.5pt}

// link styling

main a{
  color:$blue500;
  position: relative;
  text-decoration: none;
}


main a::before{
  content :"";
  position: absolute;
  width : 100%;
  height: 1px ;
  bottom: 0;
  left  : 0;

  background-color: $blue500;
  visibility: hidden;

  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transform-origin: left;
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

main a:hover::before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



// speficic article stylesheets

@import 'font';
@import 'bezel';
