//main:style.scss

.title{
  margin-bottom: 0;
}

.description{ color: $grey400 }

article > p{
  text-align: justify;
  text-justify: inter-word;
}

quote{
  color:$grey600;
  padding: 20px 0;
}

figcaption{
  color: $grey400;
  margin: 8pt 0 0 0;
}

article p{
  margin-bottom: 30px;
}


.box{
  @include flex(center,center, column);
  height: 80px;
  border-radius: 8px;
}

#one{
  background-color:#91D6D3;
}

#two{
  background-color: #5BA4E8;
}

.third{
  background-color: #FCD669;
  grid-row: 2;
}
