//main:style.scss


#rainbow{
  background: linear-gradient(to right, #1CD760, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.phone{
  display: block;
  background: url('../img/blank.png');
  background-size: 350px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin-bottom: -40px;
}


dialog{
  position: absolute;
  bottom: 0;
  padding: 30px;
  border-radius:5pt 5pt 0 0;
  background-color: white;
  height: 275px;
  width: 300px;
  margin-top: 10px;
  box-sizing: border-box;
  align-self: center;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  &::before{
    content: 'd';
    color:transparent;
    display: block;
    background-color: rgba(255,255,255,0.4);
    margin: 0 -20px;
    height: 15px;
    border-radius:5pt 5pt 0 0;
    margin-top: -45px;
    z-index: 1;
  }
}
