//main:style.scss

.thin, .regular,.normal, .semibold,.bold{
  font-size: 17pt;
  font-family: 'Nutanix_Soft', sans-serif;
  line-height: 2;
  padding: 0 8pt;
  margin-left: 16pt;
}

.thin{
  font-weight: 200;
}
.regular{ font-weight: 400;}
.normal{ font-weight: 500;}
.semibold{ font-weight: 600;}
.bold{ font-weight: 800;}

.sizing{
  margin-top:-40px;
  font-size: 80px;
  font-family: 'Nutanix_Soft', sans-serif!important;
  transition: font-size 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: font-size;
}


.slider{
  margin : 0;
  bottom : $base * 2pt;
  padding: 0 $base * 2pt;
  position: absolute;
  @include flex(center, space-between, row);

  input{  margin: 0 $base * 2pt ;}
}
