//main:style.scss

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');


*{
  font-family: 'Noto Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $grey1000;
}


h1{
  font-size: 36pt;
  font-weight: 500;
  letter-spacing: -1.5;
}

h2{
  font-weight: 400;
  font-size: 16pt;
}

p{
  margin-top: 0;
  font-weight: 300;
  line-height: 2;
  letter-spacing: -0.18;
  color:$grey700;
}
