//main:style.scss


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  position: relative;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  color : transparent;
  background  : transparent;
  border-color: transparent;

}

///

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14pt;
  width: 33%;
  border-radius: 4pc;
  background: $blue500;
  margin-top: -8px;
  cursor: grab;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb, input[type=range]::-ms-thumb {
  height: 8pt;
  width: 33%;
  border-radius: 4pc;
  background: $blue500;
  cursor: pointer;
}



input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: $grey200;
  border-radius: 1.3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: $grey200;
}
