//main:style.scss

@mixin flex($align:'center', $justify:'center',$orientation:'column'){
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $orientation;
}

//horizontal
[layout='◨']{ @include flex(center, flex-start, row)}
[layout='◫']{ @include flex(center, space-between, row)}
[layout='⎅']{ @include flex(flex-start, space-between, row)}

//vertical
[layout='◰']{ @include flex(flex-start, space-between, column)}
[layout='⊟']{ @include flex(flex-start, center, column)}
[layout='⊡']{ @include flex(center, center, column)}


[grid='yes']{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
  grid-gap: 20px;
  width: 100%;
}

@media (max-width: 980px) {
  main{
    flex-direction: column!important;
  }

  main > * > *{
    text-align: left!important;
  }
  aside{
    margin-left: 0!important;
    padding-left: 0!important;
    width: 100%!important;
  }

}
