//main:style.scss

body  { padding: $base * 2pt }

.intro{ margin-bottom: $base  * 8pt }

.main-section{
  max-width: 1485px;
  margin: auto;
  margin-bottom: $base * 4pt;
  background-color: white;

  h2, p{
    text-align: center;
    max-width: 80ch;
    margin: auto;
  }

  h2 { margin-bottom: $base * 2pt;}
}


mark{
  color:$blue500;
  background: $blue100;
  padding: 0 $base * 0.5pt;
}


.articles-grid{
  @include flex()
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  max-height: 800px;
  width: 1485px;
  margin: auto;
}


.tile{
  width: 475px;
  border-radius: 8pt;
  margin-bottom: 30px;
  margin-right: 30px;
  position: relative;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: matrix(1, 0, 0, 1, 0, 0), translateZ(0);
  display: flex;
  overflow: hidden;
}


.large{
  height: 660px;
  background-color: $grey100;
  .image-wrapper{ height: calc(660px - 170px)}
}

.medium{
  height: 460px;
  background-color: $grey100;
  .image-wrapper{ height: calc(460px - 170px)}
}

.small{
  flex-direction: row;
  height: 170px;
  background-color: $grey100;

  .image-wrapper{
    width: 170px;
    height: 170px;
    flex-shrink: 0;
  }
}



.tile a{
  height: 100%;
  width: 100%;
  color: $grey1000;
  border-radius: 8pt;
  text-decoration: none;
  overflow: hidden;
  @include flex(flex-start, flex-start, column);
}


.small.tile a{
  flex-direction:row;
}


.tile{
  animation: .8s cubic-bezier(0.165, 0.84, 0.44, 1) both fade-in;
}

@for $i from 1 through 8 {
  .tile {
    &:nth-child(#{$i}) {
      animation-delay: $i * (1s/$base);
    }
  }
}


@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, $base * 3pt ,0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


.text-wrapper{
  @include flex(flex-start, center, column);
  padding: 0 $base * 4pt;
  height: 170px;
  background-color: $grey200;
  position: relative;
  width: 100%;
}

.text-wrapper {
  h2{ margin: 0; font-size: 14pt;}
  p{ margin: 0}
}


//image assigment

.image-wrapper{
  display: flex;
  background-color: $grey100;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: center;
  align-items: center;
}

#bezel{
  // background-color: $grey100;
  // background: url('../img/articles/bezel2.svg');
  background: url('../img/admin.jpg');
  background-position: center;
  background-size: cover;
}
#ef{
  background-color: $blue500;
  background-image: url('../img/articles/ef.svg');
  background-position: center;
  background-size: cover;
}

#font{
  background-color: $blue500;
  background: url('../img/articles/font.svg');
  // background: url('https://c10.patreonusercontent.com/3/eyJwIjoxfQ%3D%3D/patreon-media/p/post/33522190/9688dd25f95d431a90413da7a7b350b4/1.png?token-time=1589853611&token-hash=oNdfh0L1LbysS6R58G9brsw1E8P1aXXlhkPn5_K6SWM%3D');
  background-position: center;
}

#design-system{
  background-size:contain;
  background: url('../img/Glass-nutanix.jpg');
  background-position: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  padding: 0;
  overflow: hidden;
  justify-items: center;
  video{
    margin:0;
    padding: 0;
  }
  .box{
    align-self: center;
    background: $blue500;
    font-size:10px;
    display:inline-block;
    border-radius: 50% ;
    width:36px;
    height:36px;
    color:white;
  }
}
