//main:style.scss

@media (max-width: 1000px) {

  main{ flex-direction: column}
  aside{ display: none;}

  .type-showcase li{
    font-size: 13pt;
  }

}
@media (max-width: 1600px) {

  .pages, .main-section, .articles-grid{
    max-width: 960px;
  }

  .articles-grid{
    max-height: 1300px;
    width: 960px;
  }
  #code{max-height: 1400px;
    .tile:nth-child(1){order:5}
    .tile:nth-child(3){order:4}
  }

}

@media (max-width: 1200px) {

  .tile{
    width: 328px;
  }
  .pages, .main-section, .articles-grid{
    max-width: 692px;
  }

  .articles-grid{ width: 692px}

  #design-system{
    grid-template-columns: repeat(auto-fill, 54px);
  }
  .box{
    width:39px;
    height:39px;
  }
}

@media (max-width: 800px) {



  .tile{
    display: block;
    margin-right: 0;
    width: 100%;
  }
  .pages, .main-section, .articles-grid{
    max-width: auto;
  }

  .articles-grid{
    max-height: none;
    width: auto;
  }

  #code{
    max-height: none;
  }

  .tile.small a{flex-direction: column}

  .small .image-wrapper, .medium .image-wrapper{
    height: calc(660px - 170px);
    width: 100%;
  }
  .small, .medium{
    height: 660px;
  }
}
