//main:style.scss

$grey1000: rgba(0,0,60,1);
$grey900: rgba(0,0,60, 0.9);
$grey700: rgba(0,0,60, 0.7);
$grey600: rgba(0,0,60, 0.6);
$grey400: rgba(0,0,60, 0.4);
$grey200: rgba(0,0,60, 0.04);
$grey100: rgba(0,0,60, 0.02);

//data-scroll

[data-scroll] {
  transition: opacity 0.5 linear;

  img{
    display: block;
    transform: scale(calc(0.8+0.3* var(--visible-y)));
  }
}

[data-scroll="in"] {
  opacity: 1;
}

[data-scroll="out"] {
  opacity: 0;
}
