//main:style.scss

$grey1000: rgba(0,0,60,1);
$grey900: rgba(0,0,60, 0.9);
$grey700: rgba(0,0,60, 0.7);
$grey600: rgba(0,0,60, 0.6);
$grey400: rgba(0,0,60, 0.4);
$grey200: rgba(0,0,60, 0.04);
$grey100: rgba(0,0,60, 0.02);


$blue500: rgba(5,135,251, 1);
$blue100: rgba(5,135,251, 0.1);
