@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");
* {
  font-family: 'Noto Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #00003c;
}

* ::selection {
  background-color: rgba(5, 135, 251, 0.1);
  color: #0587fb;
}

h1 {
  font-size: 36pt;
  font-weight: 500;
  letter-spacing: -1.5;
}

h2 {
  font-weight: 400;
  font-size: 16pt;
}

p, ol > li {
  margin-top: 0;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.75;
  letter-spacing: -0.18;
  color: rgba(0, 0, 60, 0.7);
}

ol > li:not(:last-child) {
  margin-bottom: 10px;
}

ol {
  padding-left: 48px;
  border-left: 3px solid rgba(0, 0, 60, 0.04);
}

[layout='◨'] {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

[layout='◫'] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

[layout='⎅'] {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

[layout='◰'] {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

[layout='⊟'] {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

[layout='⊡'] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

[grid='yes'] {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
  grid-gap: 20px;
  width: 100%;
}

@media (max-width: 980px) {
  main {
    flex-direction: column !important;
  }
  main > * > * {
    text-align: left !important;
  }
  aside {
    margin-left: 0 !important;
    padding-left: 0 !important;
    width: 100% !important;
  }
}

.title {
  margin-bottom: 0;
}

.description {
  color: rgba(0, 0, 60, 0.4);
}

article > p {
  text-align: justify;
  text-justify: inter-word;
}

quote {
  color: rgba(0, 0, 60, 0.6);
  padding: 20px 0;
}

figcaption {
  color: rgba(0, 0, 60, 0.4);
  margin: 8pt 0 0 0;
}

article p {
  margin-bottom: 30px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80px;
  border-radius: 8px;
}

#one {
  background-color: white;
}

#two {
  background-color: white;
}

.third {
  background-color: rgba(5, 135, 251, 0.1);
  grid-row: 2;
}

#rainbow {
  background: linear-gradient(to right, #1CD760, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sizing {
  line-height: 0.5;
  margin-top: -10%;
  font-size: 80px;
}

#font-sizing {
  position: absolute;
  bottom: 20px;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  max-width: 1280px;
  padding: 20px;
}

main::after {
  content: ' ';
  position: fixed;
  display: block;
  background-color: rgba(0, 0, 60, 0.02);
  height: 400px;
  width: 100vw;
  top: 200;
  left: 0;
  z-index: -1;
  transform: skewX(45deg) rotate(20deg);
}

article {
  max-width: 80ch;
  flex-shrink: none;
}

a {
  color: #0587fb;
  text-decoration: none;
  position: relative;
}

a:after {
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #0587fb;
  left: 0;
  transition: transform .15s linear;
  transform-origin: left;
  transform: scaleX(0);
  will-change: transform;
}

a:hover::after {
  transform: scaleX(1);
}

aside {
  display: flex;
  position: sticky;
  top: 80px;
  margin-left: 60px;
  padding-left: 20px;
  max-width: 40ch;
}

aside p {
  margin-top: 0;
}

figure, .block {
  width: 100%;
  margin: 0;
}

img, video, .block {
  border-radius: 4pt;
  background-color: rgba(0, 0, 60, 0.04);
}

hr {
  background-color: rgba(0, 0, 60, 0.02);
  height: 1px;
  border: none;
}

.badge {
  background-color: #FB2C52;
  border-radius: 4pc;
  flex-shrink: 0;
  width: 16pt;
  padding: 5pt;
  margin-right: 16px;
}

.badge h3 {
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.notification {
  background-color: rgba(0, 0, 60, 0.04);
  padding: 12pt 16pt;
  border-radius: 4pt;
  font-size: 12px;
  color: rgba(0, 0, 60, 0.9);
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.sq {
  height: 40pt;
  width: 40pt;
  background-color: lavender;
  margin-right: 16pt;
}

.text {
  flex-grow: 1;
}

.text h3, .text p {
  margin: 0;
}

.block {
  height: 400px;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
}

.small-card {
  background-color: white;
  border-radius: 4pt;
  padding: 16pt 16pt;
  width: 60%;
  box-sizing: border-box;
}
