// Comment to preproces
@import 'base';
@import 'layout';


nav{
  @include  flex(flex-start, space-between, row);
  width: 100%;
  height: $base * 10pt;
  position: sticky;
  top:0;
  z-index: -1;
}

.pages{
  @include flex(center, flex-start, row);
  list-style: none;
  max-width: 1480px;
  margin: auto;
  a{margin-right: 20px;}
}

hr{
  background-color: $grey100;
  height: 1px;
  border: none;
}

label{
  font-size: 11pt;
  margin-top: 20px;
  color:$grey400;
}

.text{
  flex-grow: 1;
  h3, p{margin: 0;}
}

.small-card{
  background-color: white;
  border-radius: 4pt;
  padding: 16pt 16pt;
  width: 60%;
}

//swup

.transition-fade {
  transition: 0.4s;
  opacity: 1;
  will-change: opacity;
}

html.is-animating .transition-fade {
  opacity: 0;
}
//






//
@import 'main';
@import 'inputs';
@import 'articles';
@import 'mediaqueries';
