// Comment to preproces
@import 'base';
@import 'layout';


hr{
  background-color: $grey100;
  height: 1px;
  border: none;
}


.text{
  flex-grow: 1;
  h3, p{margin: 0;}
}

.small-card{
  background-color: white;
  border-radius: 4pt;
  padding: 16pt 16pt;
  width: 60%;
}

//swup

.transition-fade {
  transition: 0.4s;
  opacity: 1;
  will-change: opacity;
}

html.is-animating .transition-fade {
  opacity: 0;
}


//
@import 'inputs';
@import 'articles';
@import 'mediaqueries';
