// Comment to preproces
@import 'base';
@import 'layout';



.block{
  height: $base * 35pt;
  padding: 20px;
  position: relative;
}


figure, .block{
  width: 100%;
  margin: 0;
  position: relative;
}

img, video, .block {
  border-radius: 8pt;
  background-color: $grey200;
  overflow: hidden;
}

hr{
  background-color: $grey100;
  height: 1px;
  border: none;
}


.text{
  flex-grow: 1;
  h3, p{margin: 0;}
}

.small-card{
  background-color: white;
  border-radius: 4pt;
  padding: 16pt 16pt;
  width: 60%;
}


//
@import 'inputs';
@import 'articles';
@import 'mediaqueries';
